<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"> Let us Get to know</h2>
                <hr class="light">
                <!-- <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p> -->
                <p>Grand oasis is a modern and diversified distribution system focusing on fluid conveying product services. It has been recognized by all sectors of society and has formed a cross-regional, multi-base and diversified development pattern. Its sales are spread across many regions in the Philippines, and its products and services have been successfully applied to water, fire protection, central air-conditioning and other projects. </p>
                <p>Grand oasis products include various types of malleable cast iron pipe fittings, grooved pipe fittings, stainless steel compression fittings, carbon steel compression fittings, valves, steel pipes, PPR water supply pipes, PVC drainage and power pipes, seismic brackets, etc. It has related services such as factory prefabrication, digital installation, smart water, fire protection, and air conditioning management platforms, and provides digital production solutions such as smart warehousing, smart hardware, and smart factory planning consulting. </p>
                <p>Grand oasis adheres to the corporate culture of treating people with sincerity and doing things with sincerity, unswervingly carries out modernization and diversification layout, carries out intelligent manufacturing to the end, and benefits the world with high-quality services. </p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
