<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-12">
                <div style="text-align: center;"> 
                    <h2 class="card-title">WATER SUPPLY VALVE SERIES</h2>
                    <img src="img/content/wsvs_01.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                    <img src="img/content/wsvs_02.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12"></div>
                <div style="text-align: center;"> 
                    <h2 class="card-title">FIRE VALVE SERIES</h2>
                    <img src="img/content/fvs_01.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                    <img src="img/content/fvs_02.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12">
                <div style="text-align: center;"> 
                    <h2 class="card-title">BRASS GATE VALVE SERIES</h2>
                        <img src="img/content/bgvs_01.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                        <img src="img/content/bgvs_02.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12">
                <div style="text-align: center;"> 
                    <h2 class="card-title">FIRE SPRINLER SERIES</h2>
                        <img src="img/content/fsf_01.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                        <img src="img/content/fsf_02.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12">
                <div style="text-align: center;"> 
                    <h2 class="card-title">FIRE INSPECTION INTERFACE SERIES</h2>
                        <img src="img/content/fiis_01.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                        <img src="img/content/fiis_02.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12">
                <div style="text-align: center;"> 
                    <h2 class="card-title">PPR PIPE FITTINGS SERIES</h2>
                        <img src="img/content/ppfs_01.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                        <img src="img/content/ppfs_02.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12">
                <div style="text-align: center;"> 
                    <h2 class="card-title">PVC PIPE FITTINGS SERIES</h2>
                        <img src="img/content/pvpfs_01.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                        <img src="img/content/pvpfs_02.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12">
                <div style="text-align: center;"> 
                    <h2 class="card-title">BI PIPE FITTINGS SERIES</h2>
                        <img src="img/content/bifs_01.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                        <img src="img/content/bifs_02.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12">
                <div style="text-align: center;"> 
                    <h2 class="card-title">GI PIPE FITTING SERIES</h2>
                        <img src="img/content/gipfs_01.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                        <img src="img/content/gipfs_02.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12">
                <div style="text-align: center;"> 
                    <h2 class="card-title">GROOVED PIPE FITTING SERIES</h2>
                        <img src="img/content/grpfs_01.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                        <img src="img/content/grpfs_02.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12">
                <div style="text-align: center;"> 
                    <h2 class="card-title">IRON PIPE SERIES</h2>
                        <img src="img/content/ironps_01.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                        <img src="img/content/ironps_02.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12">
                <div style="text-align: center;"> 
                    <h2 class="card-title">WELDING PIPE SERIES</h2>
                        <img src="img/content/weps_01.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                        <img src="img/content/weps_02.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12">
                <div style="text-align: center;"> 
                    <h2 class="card-title">FIRE PUMP SERIES</h2>
                        <img src="img/content/fps_01.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                        <img src="img/content/fps_02.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12">
                <div style="text-align: center;"> 
                    <h2 class="card-title">WATER SUPPLY PUMP SERIES</h2>
                        <img src="img/content/wsps_01.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                        <img src="img/content/wsps_02.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12">
                <div style="text-align: center;"> 
                    <h2 class="card-title">POWER TOOLS SERIES</h2>
                        <img src="img/content/pts_01.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                        <img src="img/content/pts_02.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12">
                <div style="text-align: center;"> 
                    <h2 class="card-title">CONVENTIONAL FIRE ALARM SYSTEM</h2>
                        <img src="img/content/cfas_01.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12">
                <div style="text-align: center;"> 
                    <h2 class="card-title">CONVENTIONAL DIAGRAM OF FIRE ALARM SYSTEM</h2>
                        <img src="img/content/cfas_02.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12">
                <div style="text-align: center;"> 
                    <h2 class="card-title">HARDWARE PENDANT SERIES</h2>
                        <img src="img/content/hps_01.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                        <img src="img/content/hps_02.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                        <img src="img/content/hps_03.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                        <img src="img/content/hps_04.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12">
                <div style="text-align: center;"> 
                    <h2 class="card-title">SAFETY INSTRUCTIONS SERIES</h2>
                        <img src="img/content/sis_01.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                        <img src="img/content/sis_02.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12">
                <div style="text-align: center;"> 
                    <h2 class="card-title">EMT SERIES</h2>
                        <img src="img/content/emts_01.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                        <img src="img/content/emts_02.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-12">
                <div style="text-align: center;"> 
                    <h2 class="card-title"></h2>
                        <img src="img/content/map_01.png" class="img-responsive" alt="图片描述" style="width: 100%; height: auto;">
                </div>
            </div>


    </div>
</section>
